
.Header {
    border-bottom: 1px solid #d9d9d9e0;
}

.body {
    font-family: 'nanumgothic';
}

.List {
    position: relative;
    text-align: center;
    max-width: 1200px;
    margin: 0px auto;
    margin-right: 2ex auto;
    margin-left: 2ex auto;
    min-height: 40em;
}